.my-order-items{
    top: 0;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgb(236, 219, 206);
}

.my-order-items-title{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(241, 110, 23, 0.11);
    display: flex;
    gap: 60px;
    align-items: center;
}

.my-order-items .cart-info{
    width: 100%;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(241, 110, 23, 0.11);
}

.my-order-items .cart-info-number-of-items,
.my-order-items .cart-info-date,
.my-order-items .cart-info-price{
    color: var(--PCOLOR);
}

.my-order-items-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 0px;
}

.items-in-order{
    padding: 15px 15px 0px 15px;
    color: var(--PRIMARYCOLOR);
}

.my-order-container-item{
    padding: 16px;
    border: 1px solid rgba(241, 110, 23, 0.11);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-icons{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(241, 110, 23, 0.178);
}

.order-icons-icon{
    width: 80%;
    height: 80%;
}

.order-info{
    width: 68%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

.order-info-button{
    background-color: var(--PRIMARYCOLOR);
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
    color: rgb(255, 239, 226);
}

.see-details{
    width: 13%;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.payment-and-delivery-information{
    display: flex;
    gap: 15px;
}

.payment-and-delivery-information-item{
    width: 50%;
    border: 1px solid rgba(241, 110, 23, 0.11);
}

.payment-and-delivery-information-item-title{
    padding: 15px;
    border-bottom: 1px solid rgba(241, 110, 23, 0.11);
    font-weight: bold;
    color: var(--PRIMARYCOLOR);
}

.payment-and-delivery-information-item-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-item-title{
    font-weight: bold;
}

.information-item-content{
    color: var(--PCOLOR);
}



/* MEDIA QUERRIES */

@media screen and (max-width:768px){

    .payment-and-delivery-information{
        flex-direction: column;
        gap: 15px;
    }
    
    .payment-and-delivery-information-item{
        width: 100%;
    }
}



